body{
   /* background-image: url("../images/2.jpg");
    background-repeat: repeat;
    background-size: cover;*/
}

.algorimPage{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(112,170,255,1) 100%);
    min-height: 100%;
}

/*---Top---*/

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 2%;
}
/*---Middle---*/
#algorimMiddle{
    display: flex;
    width: 100%;
    /*color: white;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-bottom: 2%;
}
#algorimMiddleLeft{
    width: 60%;
}
#algorimMiddleLeftContent{
    width:70%;
    margin-left: 25%;
    font-size: 1.2em;
}

#algorimMiddleRight{
    width: 40%;
    text-align: left;
}
#algorimMiddleRight img{
    width: 65%;
}
/*---Bottom---*/
#algorimBottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.algorimBottomBox{
    width: 20%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 1);
    text-align: justify;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.1em;
}
.algorimBottomBoxTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.algorimBottomBoxContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.algorimBottomBoxTitle h3{
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
}
.liVisibility{
    margin-top: 7%;
}
#firstLi{
    margin-top: 0%;
}
.liInvisibility{
    list-style-type: none;
}
.algorimBottomBoxLabelButton{
    display: flex;
    align-items: center;
    height: 100px;
    text-align: center;
    margin-bottom: 3%;
}
.imgNumber{
    width: 15%;
}

/*------------------------------------------------------------- PAGE 2 & 3 ----------------------------------------------------*/
h2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 1.5%;
}
h3{
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 2.5%;
}
ul{
    margin-bottom: 0px;
}

.subtitle{
    font-style: italic;
    margin-top: 0.5%;
    margin-bottom: 3%;
}
h4{
    margin-bottom: 0px;
}

.listBox {
    margin: auto;
    width: 40%;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.listBox li{
    margin-bottom: 1%;
    text-align: justify;
}

p{
    text-align: justify;
}

.listBoxButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*------------------------------RESPONSIVE------------------------------------*/

@media screen and (max-width: 1800px){

    .algorimBottomBox{
        font-size: 1em;
    }
}
@media screen and (max-width: 1600px){

    #algorimMiddleRight img{
        width: 80%;
    }
}

@media screen and (max-width: 1500px){
    /*---Bottom---*/
    #algorimBottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .algorimBottomBox{
        width: 60%;
        font-size: 1.1em;
    }
    .imgNumber{
        width: 8%;
    }
    .algorimBottomBoxTitle h3{
        font-size: 1.3em;
        margin-top: 10px;
    }
    .liVisibility{
        margin-top: 2%;
    }
    .algorimBottomBoxLabelButton{
        height: 50px;
        margin-bottom: 0.5%;
    }

    #algorimMiddleRight img{
        width: 85%;
    }
    .listBox {
        width: 50%;
    }
    #algorimMiddleLeft{
        width: 60%;
    }
    #algorimMiddleLeftContent{
        width:80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1300px){
    #algorimMiddle{
        flex-direction: column;
        align-items: center;
    }
    #algorimMiddleLeft{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #algorimMiddleLeftContent{
        width: 90%;
        margin-left: 0px;
    }
    #algorimMiddleLeftContent p{
        text-align: justify;
    }
    #algorimMiddleRight{
        width: 100%;
        text-align: center;
    }
    #algorimMiddleRight img{
        width: 50%;
    }
    .algorimBottomBox{
        width: 80%;
    }
    .listBox {
        width: 60%;
      }
}

@media screen and (max-width: 800px){

    .algorimBottomBoxLabelButton{
        height: 80px;
        margin-bottom: 0.5%;
    }
    #algorimMiddleRight{
        display: none;
    }
    .listBox {
        width: 80%;
      }
}

@media screen and (max-width: 600px){
    .imgNumber{
        width: 50px;
    }
    h1 {
        font-size: 3.5em;
    }
    h2{
        font-size: 3em;
    }
    #algorimMiddle{
        font-size: 0.9em;
    }
    .algorimBottomBoxLabelButton{
        margin-bottom: 4%;
    }
}